/* CSS 스타일 정의 */
.full-screen {
    height: 100vh;
    width: 100vw;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.table-caption {
    margin-bottom: 10px;
    font-size: 1.875rem;
    /* 3xl */
    font-weight: bold;
}